/* 1. Tailwind 核心

这个 css 中存放的是 tailwindcss 的核心样式
*/
@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

/* 2. 主题变量（只定义 CSS 变量） */
@import "@/@styles/theme/default.css";
@import "@/@styles/theme/dim.css";
@import "@/@styles/theme/forest.css";
@import "@/@styles/theme/graph.css";
@import "@/@styles/theme/haze.css";
@import "@/@styles/theme/mono.css";
@import "@/@styles/theme/ocean.css";
@import "@/@styles/theme/sunset.css";
@import "@/@styles/theme/vercel.css";

@import "@/@styles/tokens.css";
@import "@/@styles/components.css";

@layer base {
  * {
    font-family: var(--font-sans);
    -electron-corner-smoothing: system-ui; /* Match the system UI design. */
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow: hidden;
    min-height: 100vh;
    max-height: 100vh;
  }
  #root {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  position: absolute;
  right: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: color-mix(
    in srgb,
    var(--muted-foreground) 15%,
    transparent
  );
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: color-mix(
    in srgb,
    var(--muted-foreground) 35%,
    transparent
  );
}

::-webkit-scrollbar-thumb:active {
  background-color: color-mix(
    in srgb,
    var(--muted-foreground) 50%,
    transparent
  );
}
