@import "./code-block.css";
@import "./base.css";
@import "./utils.css";
@import "./editor.css";
@source "../../plugins";
@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";
@import "./theme/default.css";
@import "./theme/dim.css";
@import "./theme/forest.css";
@import "./theme/graph.css";
@import "./theme/haze.css";
@import "./theme/mono.css";
@import "./theme/ocean.css";
@import "./theme/sunset.css";
@import "./theme/vercel.css";

/* 全局样式重置 */
@layer base {
  * {
    font-family: var(--font-sans);
  }
}

body {
  overflow:hidden;
}

/* Shiki 双主题支持 */
.shiki,
.shiki span {
  color: var(--shiki-light);
  background-color: transparent !important;
}

.dark .shiki,
.dark .shiki span {
  color: var(--shiki-dark);
}
